@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable.css");


.ffP {
    font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.title {
    font-size: 3.3rem;
    font-weight: 900;
    padding: 5px;

    text-align: center;
    margin-bottom: 32px;

    white-space: nowrap;
}

.smt {
    margin-left: 4px;
    margin-top: 8px;
    font-size: 0.9rem;
}

.flexbox {
    display: flex;
}

.ranklist {
    margin: 12px;
    width: 20rem;
    height: 512px;

    font-size: 1.45rem;
    white-space: nowrap;

    font-weight: 600;
    overflow-x: hidden;
    overflow-y: scroll;

    background: #F6F6F6;
    filter: drop-shadow(0px 0px 24px #00000030);
    padding: 0.5rem;
    border-radius: 15px;

    -ms-overflow-style: none;
    scrollbar-width: none;
}

.ranklist::-webkit-scrollbar {
    display: none;
}

.rank {
    text-align: center;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

hr {
    opacity: 0.35;
    margin-right: 12px;
}

a {
    color: #000000;
    text-decoration: none;
}

.textctr {
    margin-top: 24px;
    font-size: 1.1rem;
    display: flex;
    justify-content: center;
}

.flexgrid {
    display: flex;
    flex-direction: column;
}

select {
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
}

.submit {
    margin: 15px 10px 10px 10px;
    padding: 10px 20px;
    border: solid #00000010 1px;
    border-radius: 10px;
    filter: drop-shadow(0px 0px 4px #00000010);
    font-size: 18px;
    font-weight: 600;
}

.fontresize {
    font-size: 1.15rem;
    margin-top: 8px;
    margin-left: 12px;
}
